#app {
    background: url('../images/background.jpg');
    display: flex;
    justify-content: center;
    padding: 10%;
    min-height: 100vh;
    flex-wrap: wrap;
    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    @include scrollBar;
    header {
        @include box;
        border: .02rem solid $goldColor;
        height: fit-content;
        padding: 4% 7%;
        margin-bottom: 10vh;
        h1 {
            font-size: 2rem;
            margin: 0;
            text-align: center;
            &::first-letter{
                font-size: 3rem;
                color: $goldColor;
            }
        }
    }
    .addresses-container {
        @include box;
        padding: 2rem 2.5rem;
        h2 {
            font-size: 1.5rem;
            border-bottom: .02rem solid $goldColor;
            padding: 1rem 0;
            height: fit-content;
            &::first-letter{
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
        form {
            p {
                color: $darkColor;
                padding-right: 2.8rem;
                margin: 1rem 0;
                &.incorrect {
                    color: $redColor;
                }
                &.correct {
                    color: $greenColor;
                }
            }
            input {
                @include input;
                width: calc(100% - 2.8rem);
                max-width: 100%;
                &.incorrect {
                    border-color: $redColor;
                }
                &.correct {
                    border-color: $goldColor
                }
            }
            button {
                background-color: $goldColor;
                width: 2rem;
                height: 2rem;
                margin-left: .8rem;
                margin-top: 0;
                font-size: .8rem;
                border-radius: 50%;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border: .2rem solid $goldColor;
                &:focus {
                    outline: none;
                }
                &:hover {
                    background-color: transparent;
                }
            }
        }
        .addresses-table-container {
            padding: 2rem 0;
            overflow-x: auto;
            .addresses-table {
                th {
                    border: 0;
                }
                .delete-address {
                    cursor: pointer;
                    text-align: center;
                    &:hover {
                        color: $goldColor
                    }
                }
            }
        }
        .no-addresses {
            font-size: 2rem;
        }
        button {
            border: .01rem solid $goldColor;
            background: transparent;
            padding: .4rem .8rem;
            margin-top: 2rem;
            &:focus {
                outline: none;
            }
            &:hover {
                background-color: $goldColor;
            }
        }
    }
    .wallets-container {
        @include box;
        margin-top: 5rem;
        padding: 2rem 2.5rem;
        .wallets-table-container {
            overflow-x: auto;
            .wallets-table {
                th {
                    border: 0;
                }
            }
            .sort-element {
                color: $goldColor;
                cursor: pointer;
                font-size: 1.2rem;
                padding: 0;
                &:hover {
                    color: $shadowColor;
                }
            }
            input {
                @include input;
                margin-top: 1rem;
                max-width: 10rem;
                &.first-search {
                    max-width: 15rem;
                }
            }
        }
    }   
}