@mixin box {
    box-shadow: 0px 0px 10px 6px $shadowColor;
    background-color: $whiteColor;
}
@mixin input {
  border: .01rem solid $goldColor;
  border-radius: 1rem;
  padding: 0.2rem 0.8rem;
  &:focus {
      outline: none;
  }
}